@charset "UTF-8";

/* 共通 */
body{
	padding: 0px;
	margin:0px;
}

a{
	text-decoration: none;
}
h1{	
	font-size:40px;
	font-family: sans-serif;
	font-weight: normal;
	margin-top:70px;
	text-align:center;
	color:#000000;
}

header{
  display:flex;
  width: 100%;
  height: 40px;
  background: #0cc500;
  position:absolute;
  top: 0;

}

#title{
	color: #ffffff;
	position: absolute;
	padding: 20px;
	top: -35px
}

#sub_title{
	position: absolute;
	padding: 20px;
	left: 330px;
	top: -35px;
}

footer{
	display:flex;
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
	background-color:#0cc500;
}

	/*フォーム周り*/
#form{	
	/* margin-left: 430px; */
	display: flex;
	justify-content: center;
	text-align: left;

}

#form_height{
	line-height: 10px;
}

#text_box{
	display: flex;
	justify-content: center;
	width: 450px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border:1px solid #000000;
	height: 30px;
	
}

#submit_bottun{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 150px;
	height: 40px;
	background-color: aqua;
	border:2px solid #000000;
	color: #000000;
	font-size: 1.5rem;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

#register{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

#back{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

#register_failed{
	color: red;
}

#register_success{
	color: blue;
}

#a_tag{
	padding: auto;
	display: flex;
	justify-content: center;
}

/* メニュー */
#menu_set{

}

#select_bottun{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 350px;
	height: 50px;
	background-color: white;
	border:2px solid #000000;
	color: #000000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-size: 2.2rem;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
}