@charset "UTF-8";
/* 共通 */
body{
	text-align:center;
	color:#000000;
	margin:0px;
}

h1{	
	font-size:40px;
	font-family: sans-serif;
	font-weight: normal;
	margin-top:70px;
}

header{
  display:flex;
  width: 100%;
  height: 40px;
  background: #0cc500;
  position:absolute;
  top: 0;

}

#title{
	color: #ffffff;
	position: absolute;
	padding: 20px;
	top: -35px
}

#sub_title{
	position: absolute;
	padding: 20px;
	left: 330px;
	top: -35px;
}

footer{
	display:flex;
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
	background-color:#0cc500;
}

#form{	
	margin-left: 430px;
	text-align: left;

}

#form_height{
	line-height: 10px;
}

#text_box{
	width: 450px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border:1px solid #000000;
	height: 30px;
	
}

#submit_bottun{
	width: 15%;
	height: 10%;
	margin-top: 15px;
	margin-left: 150px;
}

#register{
	font-size: 20px;
	display: flex;
	justify-content: center;
}