<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>ログイン画面</title>
</head>
<body>
    <header>
        <h2 id="title">就職活動報告書 管理システム</h2>
        <h2 id="sub_title">-ログイン</h2>
    </header>
    <h1>ログイン</h1>
    <div id="form">
        <form action="" method="post">
            <label id="label">メールアドレス</label><br>
            <input id="text_box" type="mail" name="mail"><div id="form_height"><br></div>
            <label id="label">パスワード</label><br>
            <input id="text_box" type="password" name="pass"><div id="form_height"><br></div>
            <img id="submit_bottun" src="../static/images/login.png" alt="login"><div id="form_height"><br></div>
        </form>
    </div>
    <a id="register" href="">新規登録</a>
    <footer> </footer>
</body>
</html> 