<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>メニュー画面</title>
</head>
<body>
    <header>
        <h2 id="title">就職活動報告書 管理システム</h2>
        <h2 id="sub_title">-メニュー</h2>
    </header>
    <h1>メニュー</h1>
    <a id="back" href="{{url_for('logout')}}">ログアウト</a>
    <footer> </footer>
</body>
</html>