<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>登録完了</title>
</head>
<body>
    <header>
        <h2 id="title">就職活動報告書 管理システム</h2>
        <h2 id="sub_title">-新規登録</h2>
    </header>
    <h1>新規登録</h1>
        <h2 style="line-height: 230px;">登録完了しました</h2>
    <div id="a_tag">
        <a id="back" href="{{url_for('index')}}">ログイン</a>
    </div>
    <footer> </footer>
</body>
</html>