<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>新規登録</title>
</head>
<body>
    <header>
        <h2 id="title">就職活動報告書 管理システム</h2>
        <h2 id="sub_title">-新規登録</h2>
    </header>
    <h1>新規登録</h1>
    {% if error != None %}
    <p id="register_failed" style="line-height: 1px;">{{error}}</p>
    {% endif %}
    <div id="form">
        <form action="{{url_for('register_exe')}}" method="post">
            <label id="label">メールアドレス</label><br>
            <input id="text_box" type="mail" name="email" value="{{data.email if data is defined else ''}}"><div id="form_height"><br></div>
            <label id="label">パスワード</label><br>
            <input id="text_box" type="password" name="pass"><div id="form_height"><br></div>
            <input id="submit_bottun" type="submit" value="登録"><div id="form_height"><br></div>
        </form>
    </div>
    <div id="a_tag">
        <a id="back" href="{{url_for('index')}}">もどる</a>
    </div>
    <footer> </footer>
</body>
</html>